.main-menu
  background-color: #0789ea
  // height: 150px
  padding: 16px
  // color: white

.menu-link, .menu-link:link, .menu-link:visited
  color: #FFF
  font-family: Roboto
  font-size: 1em
  font-weight: 400
  text-decoration: none
  margin: 0 16px
  border-bottom: 2px solid rgba(0,0,0,0)
  padding-bottom: 4px
  &.active
    border-bottom: 2px solid rgba(255,255,255,1)

.menu-link:hover
  border-bottom: 2px solid rgba(255,255,255,0.5)

.menu-icon
  margin-right: 8px

.menu-link-active
  text-decoration: underline
