.svg-tree-container
  text-align: left
  width: 100%
  height: 200px
  overflow-x: hidden
  overflow-y: scroll
  background-color: #41454B
  padding-top: 10px

.svg-tree-node
  margin-left: 10px
  & .title
    color: #AAA
    text-transform: capitalize
    font-size: 0.9em
    font-family: 'Roboto'
    line-height: 150%
    cursor: pointer

.svg-tree-text-content
  margin-left: 10px
  font-size: 0.8em
  font-family: 'Roboto'
  font-style: italic
  font-weight: 300
  color: #999
