.App
  display: flex
  min-height: 100vh
  flex-direction: column
  text-align: center
  background-color: #222222

.AppContent
  flex: 1

.AppFooter
  flex: 0
  z-depth: 1

.App-header
  background-color: #AAAAAA
  // height: 150px
  padding: 20px
  // color: white

.App-intro
  font-size: large

.menu-link, .menu-link:link, .menu-link:visited
  color: #333333
  font-size: 1.1em
  font-weight: bolder
  text-decoration: none
  margin: 0 10px

.menu-link:hover
  text-decoration: underline

.menu-icon
  margin-right: 8px

.page-title
  font-family: "Bungee Demo Shade"
  font-size: 3em
  color: #CCCCCC

.child-container
  color: #CCCCCC

.counter-item
  color: #CCCCCC

.work-details
  color: #CCCCCC
  margin-top: 20px
