@font-face
	font-family: "Bungee Demo Shade"
	src: url("./assets/fonts/Bungee-Shade.eot?#ie") format("embedded-opentype"),	url("./assets/fonts/Bungee-Shade.woff2") format("woff2"), url("./assets/fonts/Bungee-Shade.woff") format("woff")

.App
  display: flex
  min-height: 100vh
  flex-direction: column
  text-align: center
  background-color: #DDDDDD

.AppContent
  flex: 1

.App-intro
  font-size: large

.page-title
  font-family: "Bungee Demo Shade"
  font-size: 2em
  color: #444444

.child-container
  color: #CCCCCC

.counter-item
  color: #CCCCCC

.work-details
  color: #CCCCCC
  margin-top: 20px
